:root {
    /* colors */
    --black: #000000;
    --neutral100: #1a1a1a;
    --neutral200: #333333;
    --neutral300: #4D4D4D;
    --neutral400: #666666;
    --neutral500: #808080;
    --neutral600: #999999;
    --neutral700: #B3B3B3;
    --neutral800: #CCCCCC;
    --neutral900: #E6E6E6;
    --white: #ffffff;

    --background-pink: #f5d8ef;

    /* constants */
    --body-padding: 24px;
}

body {
    background-color: var(--background-pink);
    color: var(--white);
    height: 200vh;
}

main {
    position: fixed; top: 48px; z-index: 0;
    height: fit-content; width: calc(100% - 96px);
    padding: 0 48px;
    display: flex; flex-direction: column;
}

section {
    top:56px;
    height: fit-content; width: calc(100% - var(--body-padding)*2);
    margin: 56px var(--body-padding) 0 var(--body-padding);
}

/* components */

.hyperlink {
    color: var(--red500);
}
.hyperlink:hover {
    text-shadow: 0 0 5px var(--red600);
}

.card {
    position: relative;
    height: 400px; width: 400px;
    outline: 1px solid var(--white);
    outline-color: var(--white);
    overflow: hidden;

}
.card .text {
    z-index: 0;
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
}
.card .text p {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card img {
    position: absolute; z-index: 1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: left 0.5s;

    /* opacity: 50%; */
}
.card:hover {
    outline-color: var(--red500); 
}
.card:hover img{
 left: 0;
}


.spotify {
    margin: 24px 0;
}