/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Mono:wght@100..700&display=swap');

*{
	font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	text-shadow: 0 0 10px #ffffff;
}
a, p {
	font-weight: 500;
}
.a {
	bottom: 0;
	color: #000;
}

/* presets */

*{
	scroll-behavior: smooth;
	margin: 0; border: 0; padding: 0;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p, a, span, img {
	user-select: none;
}

html, body {
	width: 100%; min-width: 360px;
}

.App {
	height: 100vh; width: 100%; min-width: 360px;
}

a {
	text-decoration: none;
	font-size: 16px;
}

ul, li {
	list-style-type: none;
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
	font-size: 24px;
}

p {
    font-size: 16px;
}